@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  scroll-behavior: smooth;
  max-width: 100%;
}

ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
button,
p {
  text-decoration: none;
  color: inherit;
  margin: 0;
  list-style: none;
  padding: 0;
  font-weight: 400;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background: linear-gradient(360deg, #211F20 0%, #44403F 100%);
  background-repeat: no-repeat;
}

.container {
  max-width: 1302px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu__content {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
  line-height: 60px;
  position: sticky;
  top: 0;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__item {
  transition: 0.1s;
  background-image: linear-gradient(#618967, #618967);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: 0.3s ease;
  color: #cfcfcf;
  cursor: pointer;
}
.menu__item:hover {
  background-size: 100% 2px;
  color: #ffffff;
}
.slider__title {
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 50px 0;
}
.slider__title::before {
  content: "";
  width: 4px;
  height: 30px;
  background-color: #618967;
  display: block;
  margin-right: 20px;
}
.slider__list {
  padding: 0 15px;
}
.card {
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.card__link {
  max-width: 100%;
}
.card__content {
  max-width: 100%;
  padding-bottom: 15px;
}
.card__img {
  max-width: 100%;
}
.card__img img {
  width: 100%;
}

.card-top {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 5px;
}
.card-top__title {
  font-size: 1.375rem;
  font-weight: bold;
}
.card-top__weight {
  font-size: 0.75rem;
  font-weight: regular;
}

.card-middle {
  max-width: 100%;
  padding: 0 15px;
}
.card-middle__subtitle {
  max-width: 85%;
  color: #cfcfcf;
  font-size: 0.8125rem;
  margin-bottom: 15px;
}

.card-bottom {
  max-width: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-bottom__price {
  font-size: 1.25rem;
  font-weight: 600;
}
.card-bottom__button {
  width: 137px;
  height: 44px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 10px;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
}

.slider__list .slick-arrow {
  position: absolute;
  top: 60%;
  z-index: 2;
  font-size: 0;
  width: 44px;
  height: 44px;
}

.slider__list .slick-arrow.slick-prev {
  left: 0px;
  background: url(/images/slider/arrow.svg) 0 0 no-repeat;
  background-size: cover;
}

.slider__list .slick-arrow.slick-next {
  right: 0px;
  background: url(/images/slider/arrow.svg) 0 0 no-repeat;
  background-size: cover;
  transform: rotate(180deg);
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.draggable {
  margin: 0 auto;
}

.slick-slide {
  max-width: 100%;
}

@media (max-width: 1024px) {
  .menu__list {
    overflow-x: scroll;
  }
}

/*# sourceMappingURL=main.css.map */
