doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="/css/bootstrap-grid.min.css")
        link(rel="stylesheet" href="/css/main.css")
    body 
        mixin menu__list(arr)
            ul.menu__list
                each item in arr
                    li.menu__item
                        a.menu__link(href='#')= item
        .body
            .menu
                .menu__content
                    .container
                        +menu__list(['Холодные закуски','Горячие закуски','Мясные блюда','Супы','Рыбные блюда','Холодные закуски','Фирменные блюда','Напитки'])
            .slider
                .slider__content
                    .container
                        h2.slider__title.title Холодные закуски
                    .slider__list 
                        .slider__item.card
                            img.card__img(src="/images/slider/Lamb.png", alt="")
                            .card__body
                                .card__top.card-top
                                    .card-top__top-content
                                        h3.card__title Ягненок
                                        p.card__weight Вес: 225 г
                                    .card-top__bottom-content    
                                        .card__text Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
                                .card__bottom
                                    .card__price 620 ₽
                                    button.card__basket В корзину
                                        img(src="/images/slider/Buy.svg", alt="")
                        .slider__item.card
                            img.card__img(src="/images/slider/Duck.png", alt="")
                            .card__body
                                .card__top.card-top
                                    .card-top__top-content
                                        h3.card__title Ягненок
                                        p.card__weight Вес: 225 г
                                    .card-top__bottom-content    
                                        .card__text Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
                                .card__bottom
                                    .card__price 620 ₽
                                    button.card__basket В корзину
                                        img(src="/images/slider/Buy.svg", alt="")
                        .slider__item.card
                            img.card__img(src="/images/slider/Goose.png", alt="")
                            .card__body
                                .card__top.card-top
                                    .card-top__top-content
                                        h3.card__title Ягненок
                                        p.card__weight Вес: 225 г
                                    .card-top__bottom-content    
                                        .card__text Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
                                .card__bottom
                                    .card__price 620 ₽
                                    button.card__basket В корзину
                                        img(src="/images/slider/Buy.svg", alt="")
                        .slider__item.card
                            img.card__img(src="/images/slider/Stake.png", alt="")
                            .card__body
                                .card__top.card-top
                                    .card-top__top-content
                                        h3.card__title Ягненок
                                        p.card__weight Вес: 225 г
                                    .card-top__bottom-content    
                                        .card__text Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
                                .card__bottom
                                    .card__price 620 ₽
                                    button.card__basket В корзину
                                        img(src="/images/slider/Buy.svg", alt="")
                        .slider__item.card
                            img.card__img(src="/images/slider/Turkey.png", alt="")
                            .card__body
                                .card__top.card-top
                                    .card-top__top-content
                                        h3.card__title Ягненок
                                        p.card__weight Вес: 225 г
                                    .card-top__bottom-content    
                                        .card__text Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
                                .card__bottom
                                    //- .card__price 620 ₽
                                    //- button.card__basket В корзину
                                    //-     img(src="/images/slider/Buy.svg", alt="")
                                    .card__bottom_active 
                                        button.card__basket_active 
                                            img(src="/images/slider/Minus.svg", alt="")
                                        .card__price 620 ₽
                                        button.card__basket_active 
                                            img(src="/images/slider/Plus.svg", alt="")
                                    

                        
                    

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/scripts/slick.min.js"></script>
        <script src="/scripts/slider.js"></script>
