doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="/css/bootstrap-grid.min.css")
        link(rel="stylesheet" href="/css/main.css")
    body 
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/scripts/slick.min.js"></script>
        <script src="/scripts/slider.js"></script>
        .menu
            .menu__content
                .container
                    ul.menu__list
                        li.menu__item
                            a.menu__link(href='#') Холодные закуски
                        li.menu__item
                            a.menu__link(href='#') Горячие закуски
                        li.menu__item
                            a.menu__link(href='#') Мясные блюда
                        li.menu__item
                            a.menu__link(href='#') Супы
                        li.menu__item
                            a.menu__link(href='#') Рыбные блюда
                        li.menu__item
                            a.menu__link(href='#') Гриль меню 
                        li.menu__item
                            a.menu__link(href='#') Фирменные блюда
                        li.menu__item
                            a.menu__link(href='#') Напитки
        .slider 
            .slider__content 
                .container
                    h2.slider__title Холодные закуски
                ul.slider__list 
                    li.slider__item.card
                        a.card__link
                            .card__content 
                                .card__img
                                    img(src="/images/slider/Lamb.png" alt="")
                                .card__top.card-top
                                    .card-top__title Ягненок
                                    .card-top__weight Вес: 225 г
                                .card__middle.card-middle
                                    .card-middle__subtitle Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
                                .card__bottom.card-bottom
                                    .card-bottom__price 620 ₽
                                    button.card-bottom__button В корзину
                    li.slider__item.card
                        a.card__link 
                            .card__content 
                                .card__img 
                                    img(src="/images/slider/Turkey.png" alt="")
                                .card__top.card-top
                                    .card-top__title Ягненок
                                    .card-top__weight Вес: 225 г
                                .card__middle.card-middle
                                    .card-middle__subtitle Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
                                .card__bottom.card-bottom
                                    .card-bottom__price 620 ₽
                                    button.card-bottom__button В корзину
                    li.slider__item.card
                        a.card__link 
                            .card__content 
                                .card__img 
                                    img(src="/images/slider/Goose.png" alt="")
                                .card__top.card-top
                                    .card-top__title Ягненок
                                    .card-top__weight Вес: 225 г
                                .card__middle.card-middle
                                    .card-middle__subtitle Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
                                .card__bottom.card-bottom
                                    .card-bottom__price 620 ₽
                                    button.card-bottom__button В корзину
                    li.slider__item.card
                        a.card__link 
                            .card__content 
                                .card__img 
                                    img(src="/images/slider/Duck.png" alt="")
                                .card__top.card-top
                                    .card-top__title Ягненок
                                    .card-top__weight Вес: 225 г
                                .card__middle.card-middle
                                    .card-middle__subtitle Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
                                .card__bottom.card-bottom
                                    .card-bottom__price 620 ₽
                                    button.card-bottom__button В корзину
                    li.slider__item.card
                        a.card__link 
                            .card__content 
                                .card__img 
                                    img(src="/images/slider/Goose.png" alt="")
                                .card__top.card-top
                                    .card-top__title Ягненок
                                    .card-top__weight Вес: 225 г
                                .card__middle.card-middle
                                    .card-middle__subtitle Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
                                .card__bottom.card-bottom
                                    .card-bottom__price 620 ₽
                                    button.card-bottom__button В корзину
