doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="/css/bootstrap-grid.min.css")
        link(rel="stylesheet" href="/css/main.css")
    body 
        mixin menu__list(arr)
            ul.menu__list
                each item in arr
                    li.menu__item
                        a.menu__link(href='#')= item
        .body
            .menu
                .menu__content
                    .container
                        +menu__list(['Холодные закуски','Горячие закуски','Мясные блюда','Супы','Рыбные блюда','Холодные закуски','Фирменные блюда','Напитки'])
            .slider 
                .slider__content 
                    .container
                        h2.slider__title.title Холодные закуски
                    .slider__list 
                        .slider__item.card
                            .card__content 
                                .card__img
                                    img(src="/images/slider/Lamb.png" alt="")
                                .card__top.card-top
                                    .card-top__title Ягненок
                                    .card-top__weight Вес: 225 г
                                .card__middle.card-middle
                                    .card-middle__subtitle Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
                                .card__bottom.card-bottom
                                    .card-bottom__price 620 ₽
                                    button.card-bottom__button В корзину
                                        img(src="/images/slider/Buy.svg" alt="#")
                        .slider__item.card
                            .card__content 
                                .card__img 
                                    img(src="/images/slider/Turkey.png" alt="")
                                .card__top.card-top
                                    .card-top__title Индейка
                                    .card-top__weight Вес: 330 г
                                .card__middle.card-middle
                                    .card-middle__subtitle Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
                                .card__bottom.card-bottom
                                    .card-bottom__price 450 ₽
                                    button.card-bottom__button В корзину
                                        img(src="/images/slider/Buy.svg" alt="#")
                        .slider__item.card
                            .card__content 
                                .card__img 
                                    img(src="/images/slider/Goose.png" alt="")
                                .card__top.card-top
                                    .card-top__title Гусь
                                    .card-top__weight Вес: 275 г
                                .card__middle.card-middle
                                    .card-middle__subtitle Фаршированный яблоками
                                .card__bottom.card-bottom
                                    .card-bottom__price 7 900 ₽
                                    button.card-bottom__button В корзину
                                        img(src="/images/slider/Buy.svg" alt="#")
                        .slider__item.card
                            .card__content 
                                .card__img 
                                    img(src="/images/slider/Turkey.png" alt="")
                                .card__top.card-top
                                    .card-top__title Ягненок
                                    .card-top__weight Вес: 225 г
                                .card__middle.card-middle
                                    .card-middle__subtitle Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
                                .card__bottom.card-bottom
                                    .card-bottom__price 620 ₽
                                    button.card-bottom__button В корзину
                                        img(src="/images/slider/Buy.svg" alt="#")
                        .slider__item.card
                            .card__content 
                                .card__img 
                                    img(src="/images/slider/Duck.png" alt="")
                                .card__top.card-top
                                    .card-top__title Утка
                                    .card-top__weight Вес: 305 г
                                .card__middle.card-middle
                                    .card-middle__subtitle Фаршированная рисом, курагой и айвой
                                .card__bottom.card-bottom
                                    .card-bottom__price 620 ₽
                                    button.card-bottom__button В корзину
                                        img(src="/images/slider/Buy.svg" alt="#")

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/scripts/slick.min.js"></script>
        <script src="/scripts/slider.js"></script>
